@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,400;1,700&display=swap');


html, body {
    scroll-behavior: smooth;
    height: 100vh;
    background: url('../images/giphy.gif') no-repeat bottom right fixed;
    background-size: cover;
    background-color: #a9a9a9;
    
    align-items: center;
    justify-content: center;

    position: relative;
}


.navbar {
    position: sticky;
}

.navbar-brand, .nav-link, .about-us-heading, .search-heading, .help-heading {
    font-family: "Playfair+Display", sans-serif;
    font-size: 200px;
    text-align: center;
    color: #f5f5f5;
    
}

.name {
    text-align: center;
    font-size: 500px;
   
}

.help,.aboutUs {
    color: #f5f5f5;
    
}



#library_search {
    width: 100%;
    
}

.title, .author, .first, .publisher {
    color: #f5f5f5;
}