@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,400;1,700&display=swap');

/*basic style of project*/
html, body {
    scroll-behavior: smooth;
    height: 100vh;   
    background-size: cover;
    background-color: #a9a9a9;   
    align-items: center;
    justify-content: center;
    position: relative;
}

/*the code copied from @Eentyret_mentor pen he created and send me in Slack*/

* {
	padding: 0;
	margin: 0;
}
.bg {
	display: flex;
	justify-content: center;
	align-content: center;
	background: url("https://media.giphy.com/media/7E8lI6TkLrvvAcPXso/giphy-downsized.gif");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
.inner-box {
	background-color: rgba(0, 0, 0, 0.4);
	height: 70vh;
	width: 70vw;
	padding: 2rem;
}

/* I tried to bblur the background using only css
.body::after,{
    content: "";
    background: url('../images/giphy.gif') no-repeat bottom right fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}*/

/*navigation style*/
.navbar {
    position: sticky;
}

.navbar-brand, .nav-link, .about-us-heading, .search-heading, .help-heading {
    font-family: "Playfair+Display", sans-serif;
    
    text-align: center;
    color: #f5f5f5;
    
}

/* input width*/
#library_search {
    width: 100%;
    
}
/*text color*/
.help,.aboutUs {
    color: #f5f5f5;
    
}



.title {
    color: #f5f5f5;
}

.author {
    color: #dddedf;

}

.first {
    color: #bcbdbe;
}

.publisher {
    color: #9a9b9e;
}